/* Importing webfonts */
@import url(https://fonts.googleapis.com/css?family=Yeseva+One);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,700italic,400italic);


/* CSS reset rules */
html, body {
	height: 100%;
	min-height: 100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Fonts and colors */
body {
	font-family: 'Josefin Sans', serif;
	color: rgba(0, 0, 0, 0.8);
    
    /* Flexbox Layout: Column direction to stack Header, Main, Footer */
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6, header {
	font-family: 'Yeseva One', sans-serif;
}

/* Main container: Row direction for Article and Aside */
main {
    display: flex;
    flex-direction: row;
    flex: 1; /* Changed from 'auto' to '1' to correctly fill remaining space */
    min-height: 0; /* Critical for nested scrollbars to work */
}

article {
    flex: 2; /* Takes 2/3 of width */
    overflow-y: auto; /* Enables internal scrolling */
    padding: 50px 15px;
}

aside {
	background: #FAFAFA;
    flex: 1; /* Takes 1/3 of width */
    overflow-y: auto; /* Enables internal scrolling */
    padding: 50px 15px;
}

header {
	border-bottom: 1px solid rgb(221,221,221);
	transition: border-bottom-color 1s ease;
    padding: 20px 0;
    /* CHANGED: Removed fixed height: 80px to allow content to fit */
	height: auto; 
    min-height: 80px;
    flex-shrink: 0; /* Prevents header from shrinking when content is large */
}

header a {
	color: rgba(0, 0, 0, 0.8);
}

aside p {
	border: 1px solid #bbb;
	background: #ddd;
	color: black;
    border-radius: 10px;
	padding: 20px 20px;
}

footer {
    padding: 5px 15px;
    /* CHANGED: Removed fixed height: 80px */
	height: auto;
    min-height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center; /* Vertically centers text */
}

footer a {
	color: rgba(0, 0, 0, 0.8);
}

a {
	color: #F80002;
    text-decoration: none;
}


/* Positioning and margins */
@media (min-width: 1100px) {
	body {
		width: 1100px;
		margin: 0 auto;
	}
}

article > *:first-child {
	margin-top: 0;
}

header .right {
	float: right;
	margin: 0 10px 15px;
}


/* Header List Styles */
header ul {
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0;
}
header li {
	display: inline-block; /* Changed to inline-block for better spacing */
	vertical-align: middle;
}
header li:first-child {
	margin: 0;
}
header li a {
	margin: 0 10px;
}
header li.logo {
	font-size: 36px;
}


/* Text styles and margins */
p {
	margin-bottom: 15px;
}
h1 {
	font-size: 36px;
	margin: 20px 0; /* Reduced top margin */
}
h2 {
	font-size: 32px;
	margin: 30px 0 15px;
}
h3 {
	font-size: 28px;
	margin: 25px 0 10px;
}
h4 {
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0 10px;
}
h5 {
	font-size: 18px;
	font-weight: bold;
	margin: 15px 0 10px;
}
h6 {
	font-weight: bold;
	margin: 5px 0;
}

@media (max-width: 800px) {
  body.works_on_smartphone {
  	display: block;
  }
  body.works_on_smartphone main {
  	display: block;
  }
  header .right {
  	float: none;
  }
}
